<div class="dropdown col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class='helpSection'>
        <p class='description'>
          <div class='projects-button'><h3>Need Help</h3></div>
          <ul class='projects'>
            <li> <%- Troubleshooting %> </li>
          </ul>
        </p>
      </div>

      <div class='skill-js'>
        <p class='description'>
          <div class='projects-button'><h3>Extra Info</h3></div>
          <ul class='projects'>
            <li> <%- details %> </li>
            <li> <%- uuid %> </li>
          </ul>
        </p>
      </div>
</div>
