<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoderBunker Inventory App</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
      <div class="logo col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%# <span class="col-xs-1 col-sm-2 col-md-4 col-lg-4"></span>%>
        <%# class="col-xs-11 col-sm-10 col-md-4 col-lg-4"%>
        <div id="appTitle">CoderBunker Inventory</div>
      </div>
