<div class = "itemImgInfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="mainImg col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
    <img src=" <%- picture %>" title=" <%- fixture %> " alt=" <%- fixture %> "/>
  </div>
  <div class = "mainInfo col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
    <h3>How To:</h3>
    <%- HOWTO %>
    <% include ./dropdown %>
  </div>
</div>
