<div class="infoBox col-xs-12">
  <article class="col-xs-12">
    <h3>How To</h3>
    <div class="infoSection col-xs-11 col-xs-offset-1">
      <%- matches[0].HOWTO %>
    </div>
  </article>
  <article class="col-xs-12">
    <h3>Need Help</h3>
    <div class='infoSection col-xs-11 col-xs-offset-1'>
      <%- matches[0].Troubleshooting %>
    </div>
  </article>
  <article class="col-xs-12">
    <h3>Extra Info</h3>
    <div class='infoSection col-xs-11 col-xs-offset-1'>
      <%- matches[0].details %>
      <%- matches[0].uuid %>
    </div>
  </article>
  <article class="col-xs-12">
    <h3>Stuffs</h3>
    <div class='infoSection col-xs-11 col-xs-offset-1'>
      PLACEHOLDER: LINKS TO OTHER STUFF HERE
    </div>
  </article>
</div>
