<% include ./partials/header %>
	<div class="itemCard well col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
		<% include ./partials/titlebar %>
			<% include ./partials/itemImgInfo %>
	</div>
	<% include ./partials/footer %>
