<% include ./partials/header %>
<div class="resultContainer container">
	<div class="col-xs-12"><% include ./partials/itemCards %></div>
	<div class="col-xs-12"><% include ./partials/itemImgInfo %></div>
</div>
<% include ./partials/footer %>
