<% include ./partials/header %>

  <div class="col-xs-12">
    <img class="col-xs-12" src="/emoji.png" alt="">
    <p>Sorry, item not found with the id:</p>
    <p>
      <strong><%= id %></strong>
    </p>
  </div>

<% include ./partials/footer %>
