<% include ./partials/header %>

  <div class="notFound">
    <img src="/emoji.png" alt="">
    <p>Sorry, item with the id <strong><%= id %></strong> not found</p>
  </div>
  
<% include ./partials/footer %>
