<% include ./partials/header %>
<center>
  <img width="50%" src="/frown.png" alt="frown" />
</center>
<article class="subCard">
  <p>Sorry, item not found with the id:</p>
  <strong><%= id %></strong>
</article>
<% include ./partials/footer %>
