<% include ./partials/header %>

<img class="col-xs-12 col-lg-4 col-lg-offset-4" src="/emoji.png" alt="" />
<article style='margin-top:2em'class="col-xs-12 col-lg-4 col-lg-offset-4">
  <p>Sorry, item not found with the id:</p>
  <p>
    <strong><%- id %></strong>
  </p>
</article>

<% include ./partials/footer %>
