<% include ./partials/header %>
<div class="resultContainer col-xs-12">
  <% matches.forEach(function(el) { %>
    <%- include('./partials/itemCards', el); %>
  <% }) %>
</div>
<% include ./partials/footer %>
