.logo {
  background: url('logo.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 7em;
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
  width: 100%;
}

.recent-list {
  list-style-type: none;
  padding-left: 0;
}
.recent-list li {
  padding-bottom: 5px;
}

#appTitle {
  color: white;
  font-size: 3em;
  overflow: hidden;
  height: 100%;
  line-height: 1.6em;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  #appTitle {
    color: white;
    font-size: 1.5em;
    line-height: 3.25em;
    margin-left: 0;
    overflow: hidden;
    padding-left: 0;
    text-align: left;
    white-space: nowrap;
  }
}

.resultContainer {
  margin-top: 1em;
  overflow: hidden;
  width: 100%;
}

.breadcrumbs{
  margin-left: 5px;
}

.card{
  align-items: center;
  background: #CCC;
  display: flex;
  justify-content: space-between;
  margin: 2.5px 5px;
}

.image {
  flex: 1;
  margin: 5px;
}

.itemImg {
  max-height: 150px;
  max-width: 100%;
}

.itemTitle {
  flex: 2;
}

.center {
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.subTitle{
  font-size: 0.75em;
  font-style: italic;
  font-weight: normal;
}

.right {
  text-align: right;
}

.status{
  width: 75%;
}

.faded{
  opacity: 0.5;
}

@media screen and (min-width: 500px) {
  /*.itemImg {
    margin: 0 0 0 -1.5vw;
    width: 100%;
  }

  .status{
    margin: 4.5em 0 0 0;
    width: 50%;
  }*/

  #miniImg1{
    margin: 0 0 0 2em;
  }
}

/*.itemTitle {
  font-size: 1.25em;
  text-align: center;
}

.infoTitle{
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 0.5em;
}*/

.miniItemImg{
  width: 30.5%;
}

#miniImg1{
  margin: 0 0 0 0.83em;
}

#miniImg2{
  float: right;
  margin-right: 0;
}

.stickers{
  border: 1px dotted black;
  font-size: 30%;
  padding-bottom: 1em;
  padding-top: 1em;
}

.notFound{
  margin-top:2em;
}
