.logo {
    background: url('logo.png');
    height: 6em;
    margin-top: 1em;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#appTitle {
    color: white;
    text-align: center;
    font-size: 3em;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    #appTitle {
        color: white;
        text-align: left;
        font-size: 1.5em;
        padding-top: 13px;
        padding-left: 0;
        margin-left: 0;
        white-space: nowrap;
        overflow: hidden;
    }
}

.resultContainer {
    margin-top: 1em;
    overflow: hidden;
}

.itemImg {
    margin-left: -3vw;
    width: 300%;
    font-size: 11vw;
}

@media screen and (min-width: 500px) {
    .itemImg {
        margin-left: 0;
        width: 100%;
        font-size: 9vw;
    }
}

.itemTitle {
    text-align: center;
    /*padding-right: 1em;*/
}

.location {
    text-align: center;
    margin: 10px 0px -10px 0px;
}

.infoBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article, h3, .infoSection {
    /*border-radius: 10px;*/
}

article {
    padding: 1em 2em;
    margin-bottom: 1em;
    background-color: #1874CD;
}

h3 {
    padding-left: 1em;
    background-color: whitesmoke;
    opacity: 0.9;
    color: black;
}

.infoSection {
    margin: 1em 0;
    background-color: whitesmoke;
    opacity: 0.9;
}

.searchResultList {
    list-style: none;
    padding: 0;
}
