.logo {
    background: url('logo.png');
    height: 7em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.recent-list {
    list-style-type: none;
    padding-bottom: 15px;
} 


#appTitle {
    color: white;
    text-align: center;
    font-size: 3em;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    #appTitle {
        color: white;
        text-align: left;
        font-size: 1.5em;
        padding-top: 13px;
        padding-left: 0;
        margin-left: 0;
        white-space: nowrap;
        overflow: hidden;
    }
}

.resultContainer {
    margin-top: 1em;
    overflow: hidden;
}

.itemImg {
    margin-left: -3vw;
    width: 300%;
    font-size: 11vw;
}

@media screen and (min-width: 500px) {
    .itemImg {
        margin-left: 0;
        width: 100%;
        font-size: 9vw;
    }
}

.itemTitle {
    text-align: center;
}

.infoBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    border-radius: 3px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background-color: whitesmoke;
}

.miniSearchItem{
  padding-top: 1em;
  padding-bottom: 1em;
}
.miniItemImg{
  width:100%;

}
.searchResultList {
    list-style: none;
    padding: 0;
}

.stickers{
  border: 1px dotted black;
  font-size: 30%;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*@media print {
  font-size: 0.2em;
}*/
